Programa 1: Hola mundo

In [5]:
print("Hola mundo!")

Hola mundo!

## Ejercicio 1
Realiza una variable con tu matricula y realiza una secuencia de imprimir con tu nombre y tu matricula concatenados.

In [14]:
mat = 1834309
for i in range (0, 5):
    print ("Selene Jazmín Rodriguez Gonzalez, ", +mat)

Selene Jazmín Rodriguez Gonzalez,  1834309
Selene Jazmín Rodriguez Gonzalez,  1834309
Selene Jazmín Rodriguez Gonzalez,  1834309
Selene Jazmín Rodriguez Gonzalez,  1834309
Selene Jazmín Rodriguez Gonzalez,  1834309

## Ejercicio 2
Pidiendo el input del usuario pide dos números y crea una pequeña calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [20]:
import math as m

n1=int(input("Introduce el primer numero: "))
n2=int(input("Introduce el segundo numero: "))

suma=n1+n2
resta=n1-n2
mult=n1*n2
div=n1/n2
exp= m.exp(n1)

print("Suma: ",+suma)
print("Resta: ", +resta)
print("Multiplicacion: ", +mult)
print("Division: ", +div)
print("Exponencial: ", +exp)

Introduce el primer numero: 10
Introduce el segundo numero: 5
Suma:  15
Resta:  5
Multiplicacion:  50
Division:  2.0
Exponencial:  22026.465794806718

## Ejercicio 3
Con loop while o for, realiza una lista de 10 numeros multiplos de 3, y después realiza una función de loop que sume todos los números dentro del arreglo.

In [180]:
l1=[]
sum=0
for i in range (0,30,3):
    l1.append(i)
print (l1)

for i in l1:
    
    sum= sum+i
    
print("La suma es: ", sum)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27]
La suma es:  135

## Ejercicio 4
Con una función de if else, revisar si un número es par o es impar.
Con una función de if else, revisar si un número es primo o no.

In [42]:
#Para saber si es par o impar
num=int(input("Ingrese un numero: "))
if num%2==0:
    print("Par")
else:
    print("Impar")

Ingrese un numero: 6
Par

In [51]:
#Para saber si es primo
num=int(input("Ingrese un numero: "))
cont = 0
for i in range(1,num+1):
    if (num%i)==0:
        cont=cont+1

if cont==2:
    print ("Es primo")
else:
    print ("No es primo")

Ingrese un numero: 5
Es primo

## Ejercicio 5
Utilizando diferentes clases en python, crea una calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [55]:
import math as m

def suma(n1, n2):
    sum=n1+n2
    return sum

def resta(n1, n2):
    res=n1-n2
    return res

def multiplicacion(n1, n2):
    mult=n1*n2
    return mult

def division(n1, n2):
    div=n1/n2
    return div

def exponente(n1):
    exp=m.exp(n1)
    return exp

num1=int(input("Ingresa el primer numero: "))
num2=int(input("Ingresa el segundo numero: "))
print("Suma: ",+suma(num1,num2))
print("Resta: ", +resta(num1,num2))
print("Multiplicacion: ", +multiplicacion(num1,num2))
print("Division: ", +division(num1,num2))
print("Exponencial: ", +exponente(num1))

Ingresa el primer numero: 5
Ingresa el segundo numero: 3
Suma:  8
Resta:  2
Multiplicacion:  15
Division:  1.6666666666666667
Exponencial:  148.4131591025766

## Tuplas

#### Crear una variable flotante, integer, boleana y compleja e imprimir el tipo de variable que es.

In [60]:
#En las variables complejas no supe como ponerla de modo que no me apareciera error de sintaxis
i=34
f=1.43
b=False
print(type(i))
print(type(f))
print(type(b))

<class 'int'>
<class 'float'>
<class 'bool'>

#### Crear una tupla con valores enteros imprimir el primer y ultimo valor.

In [63]:
t1= ("S", "E", "L", "E", "N", "E")
print("Primer elemento: ", t1[0])
print("Ultimo elemento: ", t1[5])

Primer elemento:  S
Ultimo elemento:  E

#### Añadir 3 valores de string a la tupla.

In [74]:
t1= ("S", "E", "L", "E", "N", "E")
t1=list(t1)
t1.append("J")
t1.append("A")
t1.append("Z")
t1=tuple(t1)
print(t1)

('S', 'E', 'L', 'E', 'N', 'E', 'J', 'A', 'Z')

#### Verificar si una variable existe dentro de la tupla.

In [75]:
t1= ("S", "E", "L", "E", "N", "E")
"N" in t1

True

## Listas

#### Crear una lista con 40 elementos aleatorios enteros.

In [81]:
import random as r
l1=[]
for i in range (0,40):
    l1.append(r.randint(1,400))

print(l1)

[188, 173, 176, 191, 338, 273, 262, 224, 38, 128, 355, 105, 164, 286, 125, 150, 140, 343, 137, 345, 149, 45, 355, 144, 213, 248, 28, 295, 29, 153, 278, 290, 24, 67, 163, 252, 174, 237, 135, 357]

#### Con una funcion (def) crear dos listas nuevas a partir de la lista creada por numeros aleatorios, en la cual en una esten los elementos pares, y en la otra los elementos impares.

In [99]:
import random as r
l1=[]
for i in range (0,40):
    l1.append(r.randint(1,100))
    
div(l1)


def div(lis):
    par=[]
    impar=[]
    for i in lis:
        if i%2==0:
            par.append(i)
        else:
            impar.append(i)
    
    print("Par: ", par)
    print("Impar: ", impar)

Par:  [72, 68, 92, 88, 56, 46, 56, 2, 52, 4, 82, 80, 6, 34, 60, 58, 60, 14, 14, 86, 20, 74, 2]
Impar:  [65, 7, 25, 21, 17, 93, 87, 47, 45, 55, 91, 45, 37, 47, 43, 47, 73]

#### Crear dos variables con la longitud de ambas listas nuevas e imprimir las variables.

In [101]:
import random as r
l1=[]
for i in range (0,40):
    l1.append(r.randint(1,100))
    
div(l1)


def div(lis):
    par=[]
    impar=[]
    for i in lis:
        if i%2==0:
            par.append(i)
        else:
            impar.append(i)
    
    varp=len(par)
    vari=len(impar)
    print("La lista par tiene una extension de: ", varp)
    print("La lista impar tiene una extension de: ", vari)
    print("Par: ", par)
    print("Impar: ", impar)

La lista par tiene una extension de:  18
La lista impar tiene una extension de:  22
Par:  [100, 6, 66, 52, 82, 52, 100, 84, 2, 94, 50, 24, 32, 28, 78, 98, 62, 64]
Impar:  [61, 37, 39, 51, 55, 19, 19, 51, 7, 63, 55, 51, 55, 55, 67, 67, 83, 97, 53, 65, 95, 59]

#### Ordenar los elementos de la lista par de mayor a menor, y los de la lista impar de menor a mayor.

In [121]:
par=[100, 6, 66, 52, 82, 52, 100, 84, 2, 94, 50, 24, 32, 28, 78, 98, 62, 64]
impar=[61, 37, 39, 51, 55, 19, 19, 51, 7, 63, 55, 51, 55, 55, 67, 67, 83, 97, 53, 65, 95, 59]

impar1=sorted(impar)
print("Impar: ",impar1)
par1=sorted(par, reverse=True)
print("Par: ", par1)

#https://j2logo.com/python/ordenar-una-lista-en-python/

Impar:  [7, 19, 19, 37, 39, 51, 51, 51, 53, 55, 55, 55, 55, 59, 61, 63, 65, 67, 67, 83, 95, 97]
Par:  [100, 100, 98, 94, 84, 82, 78, 66, 64, 62, 52, 52, 50, 32, 28, 24, 6, 2]

#### Utilizar al menos cuatro de las funciones de listas en python en la lista original de 40 elementos

In [134]:
import random as r
l1=[]
for i in range (0,40):
    l1.append(r.randint(1,100))
ldef=l1
print (ldef)

#Agregar elementos
ldef.extend([150, 200, 300, 400])
print("")
print("Lista nueva: ", ldef)

#Cantidad de elementos
print("")
print("Cantidad de elementos: ", len(ldef))

#Multiplica la cantidad de elementos por dos
print("")
print("Nueva lista: ", ldef*2)

#Borra los elementos de la lista
print("")
print("Lista vacia: ", ldef.clear())

[26, 9, 95, 90, 48, 98, 20, 61, 10, 85, 91, 34, 12, 44, 98, 98, 66, 89, 49, 43, 35, 71, 76, 100, 99, 21, 17, 16, 45, 56, 14, 6, 75, 46, 48, 19, 5, 82, 77, 95]

Lista nueva:  [26, 9, 95, 90, 48, 98, 20, 61, 10, 85, 91, 34, 12, 44, 98, 98, 66, 89, 49, 43, 35, 71, 76, 100, 99, 21, 17, 16, 45, 56, 14, 6, 75, 46, 48, 19, 5, 82, 77, 95, 150, 200, 300, 400]

Cantidad de elementos:  44

Nueva lista:  [26, 9, 95, 90, 48, 98, 20, 61, 10, 85, 91, 34, 12, 44, 98, 98, 66, 89, 49, 43, 35, 71, 76, 100, 99, 21, 17, 16, 45, 56, 14, 6, 75, 46, 48, 19, 5, 82, 77, 95, 150, 200, 300, 400, 26, 9, 95, 90, 48, 98, 20, 61, 10, 85, 91, 34, 12, 44, 98, 98, 66, 89, 49, 43, 35, 71, 76, 100, 99, 21, 17, 16, 45, 56, 14, 6, 75, 46, 48, 19, 5, 82, 77, 95, 150, 200, 300, 400]

Lista vacia:  None

## Diccionarios

#### Crear un diccionario de 6 personas que conozcas con su primer nombre y su edad.

In [136]:
d1={"Melissa":18, "Maria":49, "Victor":25, "Carlos":80, "Juany": 74, "Syndel":23}
print(d1)

{'Melissa': 18, 'Maria': 49, 'Victor': 25, 'Carlos': 80, 'Juany': 74, 'Syndel': 23}

#### Crear una lista con los valores de la edad y reacomodar la lista de menor a mayor valor.

In [139]:
d1={"Melissa":18, "Maria":49, "Victor":25, "Carlos":80, "Juany": 74, "Syndel":23}
l1=d1.values()
print("Edades: ",l1)
print("")
print("Edades ordenadas: ", sorted(l1))

Edades:  dict_values([18, 49, 25, 80, 74, 23])

Edades ordenadas:  [18, 23, 25, 49, 74, 80]

#### Usando el diccionario y un loop, imprimir solo los nombres.

In [148]:
d1={"Melissa":18, "Maria":49, "Victor":25, "Carlos":80, "Juany": 74, "Syndel":23}

l1=list(d1.keys())
for i in l1:
    print(i)

Melissa
Maria
Victor
Carlos
Juany
Syndel

#### Añadir dos personas nuevas a tu diccionario, incluyendo edad.

In [151]:
d1={"Melissa":18, "Maria":49, "Victor":25, "Carlos":80, "Juany": 74, "Syndel":23}
d1["Selene"]=23
d1["William"]=25
print (d1)

{'Melissa': 18, 'Maria': 49, 'Victor': 25, 'Carlos': 80, 'Juany': 74, 'Syndel': 23, 'Selene': 23, 'William': 25}

## Sets

#### Crea un set con 100 numeros aleatorios enteros del 1 al 25.

In [168]:
#https://recursospython.com/guias-y-manuales/conjuntos-sets/

import random as r
s=set()
s1=set()
for i in range(0,100):
    s.add(r.randint(1,25))
    
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25}

#### Comprueba la longitud de tu set.

In [169]:
#Lo hice con random porque con randint solo arrojaba 25 numeros como en el ejemplo anterior
import random as r
s=set()
s1=set()
for i in range(0,100):
    s.add(r.random())
    
print(len(s))

100

#### Crea una lista de 5 numeros aleatorios del 1 al 10 y comprueba si cada valor aparece en el set inicial.

In [173]:
import random as r
l1=[]
s1={1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25}
for i in range (0,5):
    l1.append(r.randint(1,10))
ldef=l1
print (ldef)

l1[0] in s1
l1[1] in s1
l1[2] in s1
l1[3] in s1
l1[4] in s1

[6, 2, 6, 5, 6]

True